[submodule "packages/contracts/teller-math-lib"]
	path = packages/contracts/teller-math-lib
	url = git@github.com:teller-protocol/teller-math-lib.git
[submodule "packages/contracts/lib/forge-std"]
	path = packages/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/services/graph-node"]
	path = packages/services/graph-node
	url = git@github.com:teller-protocol/graph-node.git
